@import './../variables';
@import '@taiga-ui/core/styles/taiga-ui-local';

.view__container {
  width: 100%;
}

.view {
  &__header,
  &__main {
    width: 85%;
    max-width: $desktop-max-width;
    margin: auto;
  }

  &__header {
    @include tui-space(top, 8);
  }
  &__main {
    @include tui-space(vertical, 3);
    min-height: 100vh;
  }
}
