<div class="sidenav__container">
  <tui-island [hoverable]="false" size="l" textAlign="left">
    <div class="tui-island__content">
      <figure class="tui-island__figure">
        <div class="some-figure"></div>
      </figure>
      <div class="tui-island__text">
        <h1 class="tui-island__title">Rodolfo Jofiel (Ludox)</h1>
        <p class="tui-island__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quasi dolorem delectus. Molestiae amet similique reiciendis dicta
        </p>
      </div>
    </div>
  </tui-island>
  <tui-island [hoverable]="false" size="l" textAlign="left">
    <div class="tui-island__content">
      <figure class="tui-island__figure">
        <div class="some-figure"></div>
      </figure>
      <div class="tui-island__text">
        <h1 class="tui-island__title">Rodolfo Jofiel (Ludox)</h1>
        <p class="tui-island__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quasi dolorem delectus. Molestiae amet similique reiciendis dicta
        </p>
      </div>
    </div>
  </tui-island>
</div>
