<div class="toolbar__container">
  <div class="toolbar__left">
    <a tuiButton size="s" shape="rounded" appearance="flat" type="button" [routerLink]="['/about-me']"> Link </a>
    <a tuiButton size="s" shape="rounded" appearance="flat" type="button" [routerLink]="['/projects']"> Link </a>
  </div>

  <div class="toolbar__right">
    <a
      tuiIconButton
      size="s"
      shape="rounded"
      appearance="flat"
      type="button"
      icon="tuiIconGithubLarge"
      href="https://github.com/Fazeludox"
      target="_blank">
    </a>
    <a
      tuiIconButton
      size="s"
      shape="rounded"
      appearance="flat"
      type="button"
      icon="tuiIconLinkedinLarge"
      href="https://es.linkedin.com/in/rodolfo-jofiel-cruzado-mari%C3%B1o-3a2381199"
      target="_blank">
    </a>
    <a
      tuiIconButton
      size="s"
      shape="rounded"
      appearance="flat"
      type="button"
      icon="tuiIconTwitterLarge"
      href="https://twitter.com/jofiel_r"
      target="_blank">
    </a>
  </div>
</div>
