<a class="link" [href]="info?.html_url" *ngIf="isLoaded$ | async; else cardSkeleton">
  <tui-island class="card__container" [hoverable]="true" size="s" textAlign="left">
    <figure class="tui-island__figure">
      <div class="some-figure">
        <img class="image" loading="lazy" src="https://i.ytimg.com/vi/5w3XdmO4VtA/maxresdefault.jpg" alt="" />
      </div>
    </figure>
    <div class="tui-island__content">
      <div class="tui-island__text">
        <h1 class="tui-island__title">
          {{ info?.name }}
        </h1>
        <p class="tui-island__paragraph">{{ info?.description }}</p>
      </div>
    </div>
  </tui-island>
</a>

<ng-template #cardSkeleton>
  <tui-island class="card__container skeleton" [hoverable]="false" size="s" textAlign="left">
    <figure class="tui-island__figure" [class.tui-skeleton]="true" [class.tui-skeleton_text]="true">
      <div class="some-figure" [class.tui-skeleton]="true" [class.tui-skeleton_text]="true">
        <div class="image" [class.tui-skeleton]="true" [class.tui-skeleton_text]="true" loading="lazy"></div>
      </div>
    </figure>
    <div class="tui-island__content">
      <div class="tui-island__text">
        <h1 class="tui-island__title" [class.tui-skeleton]="true" [class.tui-skeleton_text]="true"></h1>
        <p class="tui-island__paragraph" [class.tui-skeleton]="true" [class.tui-skeleton_text]="true"></p>
      </div>
    </div>
  </tui-island>
</ng-template>
