.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;

  .tui-island {
    .tui-island__figure {
      flex-direction: column;
      margin-left: unset;
      margin-right: 1rem;
      order: 0;
      .some-figure {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        background-color: var(--tui-secondary-active);
      }
      .label {
        text-align: center;
      }
    }
  }
}
