<div class="profile__container">
  <div class="profile__left">
    <tui-island [hoverable]="false" size="l" textAlign="left">
      <div class="tui-island__content">
        <figure class="tui-island__figure">
          <div class="some-figure"></div>
        </figure>
        <div class="tui-island__text">
          <h1 class="tui-island__title">Rodolfo Jofiel (Ludox)</h1>
          <p class="tui-island__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quasi dolorem delectus. Molestiae amet similique reiciendis dicta
            rerum cumque quo autem fugit unde, debitis aut, optio perspiciatis iste, iusto explicabo id voluptates libero ullam officia.
            Assumenda provident soluta nisi accusamus ullam at doloribus explicabo eligendi adipisci!
          </p>
          <p class="tui-island__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quasi dolorem delectus. Molestiae amet similique reiciendis dicta
            rerum cumque quo autem fugit unde, debitis aut, optio perspiciatis iste, repudiandae praesentium. Reprehenderit et, optio quidem
            nemo vel odio magnam soluta incidunt nobis provident iusto explicabo id voluptates libero ullam officia. Assumenda provident
            soluta nisi accusamus ullam at doloribus explicabo eligendi adipisci!
          </p>
        </div>
      </div>
    </tui-island>

    <tui-island [hoverable]="false" size="l" textAlign="left">
      <div class="tui-island__content">
        <figure class="tui-island__figure">
          <div class="some-figure"></div>
        </figure>
        <div class="tui-island__text">
          <h1 class="tui-island__title">Rodolfo Jofiel (Ludox)</h1>
          <p class="tui-island__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quasi dolorem delectus. Molestiae amet similique reiciendis dicta
            rerum cumque quo autem fugit unde, debitis aut, optio perspiciatis iste, repudiandae praesentium. Reprehenderit et
          </p>
        </div>
      </div>
    </tui-island>
  </div>

  <div class="profile__right">
    <tui-island [hoverable]="false" size="l" textAlign="left">
      <div class="tui-island__content">
        <figure class="tui-island__figure">
          <div class="some-figure"></div>
        </figure>
        <div class="tui-island__text">
          <h1 class="tui-island__title">Rodolfo Jofiel (Ludox)</h1>
          <p class="tui-island__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quasi dolorem delectus. Molestiae amet similique reiciendis dicta
          </p>
        </div>
      </div>
    </tui-island>
    <tui-island [hoverable]="false" size="l" textAlign="left">
      <div class="tui-island__content">
        <figure class="tui-island__figure">
          <div class="some-figure"></div>
        </figure>
        <div class="tui-island__text">
          <h1 class="tui-island__title">Rodolfo Jofiel (Ludox)</h1>
          <p class="tui-island__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quasi dolorem delectus. Molestiae amet similique reiciendis dicta
          </p>
        </div>
      </div>
    </tui-island>
  </div>
</div>
